body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

#app {
  display: flex;
  height: 100vh;
}

.container {
  flex-wrap: nowrap !important;
  width: 350px !important;
  padding-bottom: 30px;
  margin: auto !important;
  border-radius: 3px;
  box-shadow: 4px 4px 8px 4px #ebebeb;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-top: 8px;
}

.dialog {
  min-width: 300px;
}

.close-btn {
  position: absolute !important;
  top: 16px;
  right: 10px;
}

